# ignore everything
*

# only track the following files
!.gitignore
!README.md
!Home.py
!graph_loader.py
!my_metrics.py
!nb_endpoint.ipynb
!nb_file.ipynb
!requirements.txt
!.dockerignore
!Dockerfile

# allow these folders and their contents
!.streamlit/
!.streamlit/**
!pages/
!pages/**
!resources/
!resources/**