# ignore everything
*

# only track the following files
!.gitignore
!README.md
!app_v1.py
!app_v2.py
!graph_loader.py
!my_metrics.py
!nb_endpoint.ipynb
!nb_file.ipynb
!requirements.txt
!.dockerignore
!Dockerfile